@model IEnumerable<GroceryAppMvcCore.Models.Cart>

@{
    ViewData["Title"] = "ViewCart";
    Layout = "~/Views/Shared/_UsersLayout.cshtml";
    string CartList = "";
    int TotalPrice = 0;
    
    string delete = "";
    string IncVal = "";
    string DecVal = "";
}

<h1>ViewCart</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CartId)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.ProductId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PurchasedQty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubTotalPrice)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            if (item.UserId == 1 && item.IsOrdered == false)
            {
                
                delete = $"https://localhost:7284/Users/Delete?id={item.CartId}";
                DecVal = $"https://localhost:7284/Users/Quantity?CartId={item.CartId}&Qty={item.PurchasedQty - 1}";
                IncVal = $"https://localhost:7284/Users/Quantity?CartId={item.CartId}&Qty={item.PurchasedQty + 1}";
                CartList += item.CartId.ToString()+",";
                TotalPrice += item.SubTotalPrice;
                <tr>
                    <td>
                @Html.DisplayFor(modelItem => item.CartId)
            </td>
          
            <td>
                @Html.DisplayFor(modelItem => item.ProductId)
            </td>
             <td>
                 
                 <button onclick="window.location.href='@DecVal';" class="btn btn-danger ">-</button>
                @Html.DisplayFor(modelItem => item.PurchasedQty)
                 <button onclick="window.location.href='@IncVal';" class="btn btn-success ">+</button>
                 
             </td>
            <td>
                
                        
                @Html.DisplayFor(modelItem => item.SubTotalPrice)

               
            </td>
            
            <td>
                
                
                <button onclick="window.location.href='@delete';" class="btn btn-danger ">Delete</button>
            </td>
        </tr>
        }
       


}
       
    </tbody>
</table>
@if (TotalPrice == 0)
{
    <h3>No Products Found in your cart</h3>
}
else
{
    <h4>@TotalPrice</h4>
}

       
@{
    string OrderPlace= $"https://localhost:7284/Users/AddToOrder?Cartlist="+@CartList+"&TV="+@TotalPrice;
}

<button onclick="window.location.href='@OrderPlace';" class="btn btn-primary ">Place Order</button>

