@using GroceryAppMvcCore;
@using System;
@using System.Linq;
@using System.Collections.Generic;
@model OrderView
@{
    ViewBag.Title = "View_Orders";


    int UserID = Convert.ToInt32(ViewBag.UserId);

    List<string> list = new List<string>();



}
@foreach (Order order in Model.Orders)
{
    if (order.UserId == UserID)
    {
        <h1>Order Id: @order.OrderId</h1>

        string[] list1 = (order.CartIdList.Split(","));
        list1 = list1.Take(list1.Count() - 1).ToArray();
        <table>
            <tr>

                <th>CartId</th>
                <th>ProductId</th>
                <th>PurchasedQty</th>

            </tr>
            @foreach (string i in list1)

            {
                foreach (Cart cartt in Model.Carts)
                {
                    if (cartt.CartId == int.Parse(i))
                    {
                        <tr>
                            <td>@cartt.CartId</td>
                            <td>@cartt.ProductId</td>

                            <td>@cartt.PurchasedQty</td>


                        </tr>

                    }
                }


            }



        </table>
        <div>
            total Price :@order.TotalValue;
            @Html.ActionLink("DeleteOrder", "DeleteOrder", new { id=order.OrderId})
        </div>




    }

}

