@model IEnumerable<GroceryAppMvcCore.Models.Product>

@{
    ViewData["Title"] = "ViewProducts";
    Layout = "~/Views/Shared/_UsersLayout.cshtml";
    int CategoryID = Convert.ToInt32(ViewBag.CategoryId);
    
    List<Product> ProdList = new List<Product>();

}

<h1>ViewProducts</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>


@if (CategoryID < 4 && CategoryID > 0)
{


    @foreach (var item in Model)
    {
        if (item.CategoryId == CategoryID)
        {
            if (ProdList.Count < 3)
            {
                ProdList.Add(item);
                if (ProdList.Count == 3)
                {
                    <table>
                    <tr>
                        <td>
                            <h1>@ProdList[0].ProductName</h1>
                        </td>
                        <td>
                            <h1>@ProdList[1].ProductName</h1>
                        </td>
                        <td>
                            <h1>@ProdList[2].ProductName</h1>
                        </td>

                    </tr>
                </table>
                ProdList .Clear();
                }
            }
            

        }
        
    }
    if (ProdList != null)
            {
                <table>
                    <tr>
                        <td>
                            @for (int i = 0; i < ProdList.Count; i++)
                            {
                                <h1>@ProdList[i].ProductName</h1>
                            }
                        </td>
                    </tr>
                </table>

            }




}
else
{
    foreach (var item in Model)
    {
        <h1>@item.ProductName @item.CategoryId</h1>
    }

}




