@using GroceryAppMvcCore;
@using System;
@using System.Linq;
@using System.Collections.Generic;
@model OrderView

@{
    ViewBag.Title = "View_Orders";
    Layout = "~/Views/Shared/_UsersLayout.cshtml";
    int UserId = Convert.ToInt32(ViewBag.UserId);  

    int UserID = Convert.ToInt32(ViewBag.UserId);

    List<string> list = new List<string>();
    List<Product> ListProduct = ViewBag.ProductList;
    User usersDetails = Model.Users.FirstOrDefault(m => m.UserId == UserId);
}

<style>
    

    .card {
        box-shadow: 0 20px 27px 0 rgb(0 0 0 / 5%);
    }

    .card {
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 0 solid rgba(0,0,0,.125);
        border-radius: 1rem;
    }

    .text-reset {
        --bs-text-opacity: 1;
        color: inherit !important;
    }

    a {
        color: #5465ff;
        text-decoration: none;
    }
</style>
<div class="container-fluid">

    <div class="container">
        <!-- Title -->
        <!-- Main content -->
        <div class="row">
            @foreach (Order order in Model.Orders)
            {
                Delivery delv = Model.Deliverys.FirstOrDefault(m => m.OrderId == order.OrderId);

                <div class="col-lg-8">
                    <!-- Details -->
                <div class="card mb-4">
                        <div class="card-body">
                            <div class="mb-3 d-flex justify-content-between">
                                <div>
                                    <span class="me-3">OrderId#@order.OrderId</span>
                                    <span class="me-3">@order.OrderDate</span>
                                    @if (delv == null)
                                    {
                                        <span class="badge rounded-pill bg-primary">Order Confirmed</span>
                                    }
                                    else if (delv != null)
                                    {
                                        if (delv.Status == false)
                                        {
                                            <span class="badge rounded-pill " style="background-color:#FF8000;">Pickup For Delivery</span>
                                        }
                                        else if (delv.Status == true)
                                        {
                                            <span class="badge rounded-pill bg-success">Delivered</span>
                                        }

                                    }


                                </div>

                            </div>
                            <table class="table table-borderless">
                                <tbody>
                                    @{
                                        string[] list1 = (order.CartIdList.Split(","));
                                        list1 = list1.Take(list1.Count() - 1).ToArray();
                                    }
                                    @foreach (string i in list1)
                                    {
                                        Cart cart = Model.Carts.FirstOrDefault(m => m.CartId == Convert.ToInt32(i));
                                        if (cart != null)
                                        {
                                            Product product = Model.Products.FirstOrDefault(m=>m.ProductId == cart.ProductId);
                                            if(product != null)
                                            {
                                                <tr>
                                                <td>
                                                    <div class="d-flex mb-2">
                                                        <div class="flex-shrink-0">
                                                            <img src="~/css/Images/@product.ImageUrl" alt="" width="35" class="img-fluid">
                                                        </div>
                                                        <div class="flex-lg-grow-1 ms-3">
                                                            <h6 class="small mb-0"><a href="#" class="text-reset">@product.ProductName</a></h6>
                                                            <span class="small">@product.ProductDetails</span>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>1</td>
                                                <td class="text-end"> ₹.@cart.SubTotalPrice</td>
                                            </tr>
                                            }
                                            
                                        }

                                    }

                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="2">Subtotal</td>
                                        <td class="text-end"> ₹.@order.TotalValue</td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">Shipping</td>
                                        <td class="text-end"> Free</td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">Discount</td>
                                        <td class="text-danger text-end">- ₹.0.00</td>
                                    </tr>
                                    <tr class="fw-bold">
                                        <td colspan="2">TOTAL</td>
                                        <td class="text-end"> ₹.@order.TotalValue</td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                    <!-- Payment -->

            </div>
                <div class="col-lg-4">
                    <!-- Customer Notes -->

                <div class="card mb-4">
                        <!-- Shipping information -->
                    <div class="card-body">
                            <h3 class="h6">Shipping Information</h3>
                           
                            <hr>
                             
                            <h3 class="h6">Address</h3>
                            <address>
                                <strong>@usersDetails.UserName</strong><br>
                                @usersDetails.Street<br>
                                @usersDetails.Area<br>
                                @usersDetails.City<br>
                                @usersDetails.State<br>
                                @usersDetails.Country<br>
                                @usersDetails.Pincode<br>
                                PH : @usersDetails.PhoneNumber<br>
                            </address>


                            
                           
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</div>


