@model GroceryAppMvcCore.Models.JobView

@{
    ViewData["Title"] = "JobList";
    Layout = "~/Views/Shared/_EmployeeLayout.cshtml";
   
}

<h1>JobList</h1>


@foreach (Order order in Model.orders)
{
    var delivery = Model.deliveries.FirstOrDefault(D => D.OrderId == order.OrderId);
    if (delivery == null)
    {
        string[] list = (order.CartIdList.Split(","));
        list = list.Take(list.Count() - 1).ToArray();

        <table>
            <tr>
                <th>CartId</th>
                <th>ProductId</th>
                <th>PurchasedQty</th>
                <th>Total Value</th>
            </tr>


            @foreach (var list1 in list)
            {
                Cart cart = Model.carts.FirstOrDefault(m => m.CartId == Convert.ToInt32(list1));
                <tr>
                    <td>@cart.CartId</td>
                    <td>@cart.ProductId</td>
                    <td>@cart.PurchasedQty</td>
                    <td>@cart.SubTotalPrice</td>
                    <td> @Html.ActionLink("Accept", "Accept", new { id = @order.OrderId }) </td>
                </tr>
            }
        </table>

    }
}

