@model GroceryAppMvcCore.Models.JobView

@{
    ViewData["Title"] = "OurJobs";
    Layout = "~/Views/Shared/_EmployeeLayout.cshtml";
    int EmployeeId = Convert.ToInt32(ViewBag.Empid);
   int statuss = ViewBag.Status;
    


}

<h1>OurJobs</h1>



@if (statuss == 0)
{
    var deliv = Model.deliveries.Where(m => m.EmployeeId == EmployeeId & m.Status == false);
    if (deliv != null)
    {
        foreach (Delivery item1 in deliv)
        {
            Order order = Model.orders.FirstOrDefault(m => m.OrderId == item1.OrderId);
            <h2>Order #:@order.OrderId <span> @Html.ActionLink("DeliveryNow", "Delivered", new {  id= item1.DeliveryId })</span></h2> 

            string[] list1 = (order.CartIdList.Split(","));
            list1 = list1.Take(list1.Count() - 1).ToArray();
            <table>
                <tr>
                    <th>CartId</th>
                    <th>ProductId</th>
                    <th>PuchasedQty</th>
                </tr>



                @foreach (var cartid in list1)
                {
                    Cart cart = Model.carts.FirstOrDefault(m => m.CartId == Convert.ToInt32(cartid));
                    if(cart != null)
                    {
                        <tr>
                        <td>@cart.CartId</td>
                        <td>@cart.ProductId</td>
                        <td>@cart.PurchasedQty</td>
                    </tr>
                    }
                    
                }

                <tr>
                    <td>Total Price : @order.TotalValue</td>
                </tr>




            </table>


        }
    }
}
else if (statuss == 1)
{
    var deliv = Model.deliveries.Where(m => m.EmployeeId == EmployeeId & m.Status == true);
    if (deliv != null)
    {
        foreach (Delivery item1 in deliv)
        {
            Order order = Model.orders.FirstOrDefault(m => m.OrderId == item1.OrderId);
            <h2>Order #:@order.OrderId</h2>

            string[] list1 = (order.CartIdList.Split(","));
            list1 = list1.Take(list1.Count() - 1).ToArray();
            <table>
                <tr>
                    <th>CartId</th>
                    <th>ProductId</th>
                    <th>PuchasedQty</th>
                </tr>



                @foreach (var cartid in list1)
                {
                    Cart cart = Model.carts.FirstOrDefault(m => m.CartId == Convert.ToInt32(cartid));
                    if(cart != null)
                    {
                        <tr>
                        <td>@cart.CartId</td>
                        <td>@cart.ProductId</td>
                        <td>@cart.PurchasedQty</td>
                    </tr>
                    }
                    
                }

                <tr>
                    <td>Total Price : @order.TotalValue</td>
                </tr>




            </table>


        }
    }

}



